body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

div {
    width: 100px;
    height: 100px;
}

@keyframes example {
    0%   {background-color: red;}
    10%  {background-color: yellow;}
    20%  {background-color: blue;}
    30% {background-color: green;}
    40%   {background-color: purple;}
    50%  {background-color: pink;}
    60%  {background-color: orange;}
    70% {background-color: violet;}
    80%  {background-color: skyblue;}
    90% {background-color: greenyellow;}
    100% {background-color: magenta;}
}


.one {
    background-color: cyan;
    color: green;
    transition-property: all 1s ease; 
    transition-duration: 1s;
    text-align: center;
    display: none;
}

.one:hover {
    background-color: red;
    color: yellow;
}

.two {
    background-color: brown;
    animation-name: example;
    animation-duration: 1ms;
    animation-iteration-count: infinite;
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.three {
    background-color: blue;
    display: none;
}

.btn-one {
    width: 500px;
    height: 100px;
    background-color: aqua;
    border: none;
    opacity: 30%;
    transition: opacity 2s;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: black 5px 5px 5px;
    
}

.btn-one:hover {
    opacity: 100%;
}

.btn-one:focus {
    box-shadow: black 2px 2px 2px;
}


.btn-two {
    width: 100px;
    height: 100px;
    background-color: red;
    border: none;
    transition: 1s;
    border-radius: 1rem;
    cursor: pointer;

}

.btn-two:focus {
    background-color: blue;
    color: white;
    width: 500px;
}

/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* @keyframes light {
    to {
        background-color: grey;
    }
}

    .container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
    width: 150px;
    gap: 20px;
    border-radius: 12px;
}

.all {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation-duration: 1s;
    animation-name: light;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.one {
    background-color: red;    
}

.two {
    background-color: yellow;    

}

.three {
    background-color: green;    
} */ 

/* @keyframes bounce {
    0%, {
        transform: translateY(0)
    }
}

.one {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
} */